* {
    margin: 0;
    padding: 0;
  }
  body {
    background-color: antiquewhite;
  }
  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 350px;
    width: 150px;
    margin: 0;
    background-color: darkgray;
    position: relative;
    left: 700px;
    top: 150px;
    border-radius: 20px;
    border: 5px solid #333;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  .light {
    height: 60px;
    width: 60px;
    background-color: black;
    border: 2px solid #333;
    border-radius: 50%;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
  }
  